<!-- start custom head snippets -->


<!--Google Search Console - START-->
<meta name="google-site-verification" content="9D8KgNJ9oqVDj6ZVFjvtXKMDrPvUggcvF4gJUP7_0h4" />
<!--Google Search Console - END-->


<!--Google Adsense Snippet - START-->
{% if site.adsense.enabled %}
<!-- Commended - START--
<script data-ad-client="{{ site.adsense-data-ad-client }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
--Commented - END-->

<!-- Auto ads froms adsense snippet added by me -STRAT-->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.adsense.data-ad-client }}"
     crossorigin="anonymous"></script>
<!-- Auto ads snippet added by me--gaurav -STRAT-->

{% endif %}
<!--Google Adsense Snippet - END-->

<!-- end custom head snippets -->
